[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
more-itertools = "*"
minimax = {editable = true, ref = "v0.0.2", git = "https://github.com/jaywritescode/minimax-python.git"}

[dev-packages]
black = "*"
assertpy = "*"
pytest = "*"

[requires]
python_version = "3.10"
